<link rel="stylesheet" href="/css/signup.css">
<div class="signup-page">
    <div class="form">
      <form class="register-form" action="/review/content/<%= id %>" method="POST">
       <textarea name="content"  cols="30" rows="10"></textarea>
        
        
        <br>
        
        <button type="submit">create</button>
      </form>
    </div>
  </div>