
<link rel="stylesheet" href="/css/login.css">
<div class="login-page">
    <div class="form">
      <form class="login-form" action="/signin" method="POST" >
        <input type="text" placeholder="useremail" name="email" />
        <input type="password" name="password" placeholder="password"/>
        <button type="submit">login</button>
        <p class="message">Not registered? <a href="/create">Create an account</a></p>
      </form>
    </div>
  </div>