<h1>Admin status update form</h1>


<form action="/update/<%= id %>" method="POST">
    <select name="admin" id="admin">
        <option value="True">True</option>
        <option value="False">False</option>
      </select>

<button type="submit">update status</button>

</form>